* body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fff6e6
}

h4 {
    font-family: 'Lobster', cursive;
}

h2 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
}

#lchange {
    display: inline-block;
    position: fixed;
    text-decoration: none;
    margin-left: 500px;
    margin-top: 5px;
    padding: 10px;
    text-align: right;
}

header {
    position: relative;
    text-align: center;
    background: #ffc873;
}

#photo {
    display: inline-block;
    position: relative;
    left: 15px;
    z-index: 1;
}

hr {
    border: none;
    background-color: black;
    color: black;
    height: 10px;
    z-index: 2;
}

.buttons li {
    display: inline-block;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    margin: 2px;
    margin-top: 2px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 180px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#tittle {
    display: inline;
    position: absolute;
    text-align: left;
    color: #ffffff;
    left: 25px;
    top: -25px;
}

.wite {
    color: #ffffff;
}

.lchange: {
    position: absolute;
    color: #ffffff;
    text-align: right;
    padding-right: 5%;
}

* main {
    text-align: center;
    background-color: #fff6e6;
}

#ex1 {
    background-color: #676d74;
}

* footer {
    text-align: center;
    background-color: #676d74;
}

input[type=text],
select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email],
select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 50px 10px 50px;
    margin: 10px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form {
    display: inline-block;
    border: none;
    color: white;
    text-align: center;
    font-size: 24px;
    margin: 2px;
    margin-top: 2px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 1500px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 150;
}

.field {
    position: relative;
    clear: both;
    text-align: right;
}

#menu {
    display: inline-block;
    clear: both;
    border: 3px;
    text-align: left;
}

#links {
    display: inline-block;
    position: relative;
    margin: 15px;
    padding: 15px;
    text-decoration: none;
}
